<!DOCTYPE html>
<html>
    <head>
        <title>Async Server</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" \>
    </head>
    <body class="bg-dark text-light align-middle text-center">
        <h1>Data recieved successfully!</h1>
        <p>Thanks for testing my asynchrynous web server</p>
        <p>This is running from <code lang="html">index.html</code></p>
    </body>
</html>